<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<mat-form-field appearance="legacy">
    		<mat-label>firstName</mat-label>
		    <input matInput ngDefaultControl placeholder="firstName" name="employee.firstName" [(ngModel)]="employee.firstName">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>lastName</mat-label>
		    <input matInput ngDefaultControl placeholder="lastName" name="employee.lastName" [(ngModel)]="employee.lastName">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
            <button 
		    (click)="updateEmployee(employee.firstName, employee.lastName)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
