<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<mat-form-field appearance="legacy">
    		<mat-label>street</mat-label>
		    <input matInput ngDefaultControl placeholder="street" name="address.street" [(ngModel)]="address.street">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>city</mat-label>
		    <input matInput ngDefaultControl placeholder="city" name="address.city" [(ngModel)]="address.city">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>state</mat-label>
		    <input matInput ngDefaultControl placeholder="state" name="address.state" [(ngModel)]="address.state">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>zipCode</mat-label>
		    <input matInput ngDefaultControl placeholder="zipCode" name="address.zipCode" [(ngModel)]="address.zipCode">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
                <button 
		    (click)="updateAddress(address.street, address.city, address.state, address.zipCode)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
