<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<mat-form-field appearance="legacy">
    		<mat-label>street</mat-label>
		    <input matInput ngDefaultControl placeholder="street" name="street" [(ngModel)]="street">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>city</mat-label>
		    <input matInput ngDefaultControl placeholder="city" name="city" [(ngModel)]="city">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>state</mat-label>
		    <input matInput ngDefaultControl placeholder="state" name="state" [(ngModel)]="state">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>zipCode</mat-label>
		    <input matInput ngDefaultControl placeholder="zipCode" name="zipCode" [(ngModel)]="zipCode">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
            <button 
		    (click)="addAddress(street, city, state, zipCode)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
